<launch>

    <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
    <!-- Parameters-->
    <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->

    <param name="robot_description" textfile="$(find velocityobstacle)/rvizconfig/atlascar.urdf"/>
    <arg name="prefix" default="initial_"/>
    <arg name="node_start_delay" default="2"/>

    <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
    <!-- Robot and joint state publisher for generating tfs -->
    <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
    <!-- Connector from the initial prefixed subtree to the current one -->
    <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
    <node pkg="tf" type="static_transform_publisher" name="initial_subtree_connector" args="0 0 0 0 0 0 base_link $(arg prefix)base_link 10" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="false"/>
    </node>

    <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
    <!-- Visualization -->
    <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->

	<!-- Launch rviz with the propper parameters for loading the atlascar rviz configuration file -->
	<remap from="/tf" to="/trf/frames"/>
    <node name="rviz" pkg="rviz" type="rviz" output = "screen"
		args="--display-config $(find velocityobstacle)/rvizconfig/view_vcones.rviz"/>

</launch>